%button.current-plan-button.md-button{ng-click: "click()"}
  %i.material-icons.premium-feature__star{ng-if: "group.subscriptionLevel != 'free'"} star
  %span{translate: "{{'current_plan_button.'+buttonText()}}"}
