%button.current-plan-button.md-button{ng-click: "click()"}
  %i.mdi.mdi-star.mdi-24px.premium-feature__star{ng-if: "parentGroup().subscriptionLevel != 'free'"}
  %span{translate: "{{'current_plan_button.'+buttonText()}}"}
